footer
    nav.bg-dark.p-3.navegacion-enlaces.d-flex.justify-content-start
        a.nav-link(href="/hoteles") Hoteles
        a.nav-link(href="/gerentes") Gerentes                
        a.nav-link(href="/habitaciones") Habitaciones
        