header 
    div
        header.d-flex.justify-content-around.align-items-center.p-3
            div.titulo-logo
                a.d-flex.align-items-center.titulo.text-decoration-none(href="/") 
                    h1 Zacatlan De Las Manzanas                 
            div.navegacion-enlaces.d-flex.justify-content-around
                a.nav-link(href="/hoteles") Hoteles
                a.nav-link(href="/gerentes") Gerentes
                a.nav-link(href="/habitaciones") Habitaciones
